*{
	box-sizing:border-box;
}
body{
	background: #212121;
}
.topnavbox{
	background: #212121;
}
.back{
	width: 100%;
	height: 380px;
	background: url(../images/back6.jpg) no-repeat center;
}
.contain{
	width: 90%;
	height: auto;
	background: #212121;
	position: relative;
	margin:0 5%;
}
.sec3-title{
	width: 100%;
	height: auto;
	margin: 70px auto  30px;
	text-align: center;
	color: #B4B4B4;
	line-height: 24px;
}
.sec3-title .sec3-left-title{
	color: #fff;	
	font-size: 26px;
}
.sec3-top{
	margin-top: 50px;
}
.sec3-left-mintitle{
	font-size: 15px;
	margin-top: 5px
}
.sec3-content{
	width: 100%;
	height: 500px;
	padding: 20px 0;
}
.servebox{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.servebox li{
	width: 30%;
	height: 450px;
	float: left;
	padding-top: 5%;
	transition:all 0.4s ease;
	cursor: pointer;
	margin-right: 5%;
}
.servebox li a{
	width: 100%;
	height: 100%;
	display: block;
}
.servebox li:hover{
	padding-top: 8%;
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	background: rgba(0, 0, 0, 0.4);	
}
.servebox li:hover .serve-bottom{
	background-position: -13px 0;
}
.serve-image{
	width: 342px;
	height: 140px;
	margin: 0 auto 20px;
}
.serve-title{
	width: 100%;
	height: 40px;
	font-size: 18px;
	color: #CCC;
	line-height: 40px;
	text-align: center;
}
.serve-hengxian{
	width: 30px;
	height: 1px;
	margin: 15px auto;
	text-align: center;
	background: rgba(255, 255, 255, 0.15);
}
.serve-content{
	width: 80%;
	text-align: center;
	line-height: 28px;
	color: #8D8D8D;
	height: 50px;
	margin: auto;
}
.serve-bottom{
	width: 65px;
	height: 40px;
	margin: 30px auto;
	background: url(../images/icon.png) no-repeat scroll -82px 0px;	
	transition:all 0.4s ease;
}